<style>
  #topbar {
  height: 3em;
  margin: 0;
  border-bottom-right-radius: 1.0em;
  border-bottom-left-radius: 1.0em;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  width: 100%;
  line-height: 1.5em; }

  #eo {
  left: 0.3em;
  top: 0.2em; }

  #topbar input[type="password"] {
  height: 12px; }

  #topbar input[type="text"] {
    height: 12px;
   }

   section {
    transform: translateY(3.5em);
    height: calc(100vh - 6.3em);
    margin-left: 1.5em;
   }

   #event_info {
   background: rgba(12, 102, 240, 0.8);
 }


</style>

<section>
  <div> Name of Venue: <%= @venue.name %> <br/>
    Location: <%= @venue.address %>
  </div>


  <% unless current_user.nil? %>

    <form method="post" action="/events/messages">
      <textarea name="content"></textarea><br/>
      <input type="hidden" name="event_id" value="<%= @event.id %>">
      <input type="submit">
    </form>

  <% end %>


  <img src="<%= @event.picture_url %>"></img>

  <% if @comments %>
    <% @comments.each do |comment| %>
    <div>
      <br/>
      Comment by:<strong> <%= all_users.find(comment.user_id).name %> </strong><br/>
      <p><%= comment.content %></p>
    </div>
    <% end %>
  <% end %>
</section>