

<form action="/events" method="post">
  <div>
    <label>Picture URL</label>
      <input type="text" name="picture_url" value="<%= @event.picture_url %>">
  </div>

  <div>
    <label>Event Name</label>
      <input type="text" name="name" value="<%= @event.name %>">
  </div>
  <div>

 <% if @event.errors.any? %>
  <div>
    <strong>Some issues with your event, please fix them:</strong>
    <ul>
      <% @event.errors.full_event.each do |event| %>
        <li><%= event %></li>
      <% end %>
    </ul>
  </div>
<% end %>

  <div>
    <label>Description</label>
      <input type="text" name="description" value="<%= @event.description %>">
  </div>

  <div>
    <label>Website</label>
      <input id = "website" type="text" name="link_url" value="<%= @event.link_url %>">
  </div>

  <div id = "datetimepicker">
  </div>

  <div><label>Date and Time</label>
  <input id = "datetimepicker_line" name="date" type="text" value="<%= @event.date %>">
  </div>

<div>
venue
  <input id="venue_name" type="text"/>
</div>

<div>
time
  <input id="time_pick" type="text"/>
</div>




  <div>
    <input type="submit" value="Submit">
  </div>

</form>

<script>jQuery('#datetimepicker').datepicker({
  onSelect: function(i,o,p){
    $('#datetimepicker_line').val(i)
  }
}); 

$("#venue_name").autocomplete({ source: [ 

  <% all_venues.each do |venue| %>
    "<%= venue.name %>",
  <% end %>

] });


$('#time_pick').timepicker({ 'scrollDefault': 'now' });

</script>
