
    <style type="text/css">
      #map_canvas {
        width:100%;
        min-height:70vh;

      }
    </style>



<% if @results == "none" %>
  <%= "No events on selected day" %>
<% end %>



    
    <% unless current_user.nil? && current_planner.nil? %>

      <form action="/logout" method="post">
          <input type="submit" value="logout"/>
      </form>

    <% else %>

      <form action="/login" method="post">
        <div>
          <input type="checkbox" name="planner"/>
        </div>
        <div>
        username
          <input 
            type="text" 
            name="name" />
        </div>
        <div>
        password
          <input 
            type="password" 
            name="password" />
        </div>

        <div>
          <input type="submit"/>
        </div>
      </form>

    <% end %>




    <% unless current_user.nil?  %>
      HI <%= current_user.name %>
    <% end %>

    <% unless current_planner.nil? %>
      HI planner <%= current_planner.name %>
    <% end %>    


<form action="/" method="post">
    date:<input name="date" type="text" id="date_picker"></div>
    <select name="type">
    <% all_types.each do |type| %>
      <option value="<%= type.name %>"><%= type.name %></option>
    <% end %>
    </select>
    <input type="submit"/>
</form>



    <button id="share_location" onclick="showlocation();">YOUR LOCATION</button>

    <script>
      function showlocation() {
         navigator.geolocation.getCurrentPosition(callback);
      }
      function callback(position) {
         lat = position.coords.latitude
         lng = position.coords.longitude
         map.setCenter(new google.maps.LatLng(lat, lng));
         map.setZoom(14);

         var user_marker = new google.maps.Marker({
                  position: new google.maps.LatLng(lat, lng),
                  map: map,
                  title: "YOUR LOCATION",
                  animation: google.maps.Animation.DROP
              });
              user_marker.metadata = {
                  type: "point",
                  id: i
              };
              markerList.push(user_marker);

      }
      var map
    </script>

    <div id='map_canvas' class='col-sm-8'>
    </div>



     
    <script type="text/javascript">

      $(function($) {
          var script = document.createElement('script');
          script.src = "http://maps.googleapis.com/maps/api/js?sensor=false&callback=initialize";
          document.body.appendChild(script);
      });


      function initialize() {
          var bounds = new google.maps.LatLngBounds();
          var mapOptions = {
            center: new google.maps.LatLng(49.2805,-123.1085761),
          };


          map = new google.maps.Map(document.getElementById("map_canvas"), mapOptions);
          map.setTilt(45);
          bounds.extend(new google.maps.LatLng(49.2805,-123.1085761));
          map.fitBounds(bounds);

 <% if @events %>

          var markers = [
            <% @events.each do |event| %>
              ["<%= event.name %>", <%= event.venue.latitude %> , <%= event.venue.longitude %> , "<%= event.link_url %>"], 
            <% end %>
          ];

          var infoWindowContent = [

            <% @events.each do |event| %>
              [
                '<a href="/events/<%= event.id %>"><h4><%= event.name %></h4></a>' +
                '<%= event.venue.address %>'
              ],
            <% end %>

          ];

          var infoWindow = new google.maps.InfoWindow({
                  maxWidth: 300
              }),
              marker, i;
          var markerList = [];

          // javascript object called icons
       
          icons = { 
                        "art": "/icons/art.png",
                        "comedy": "/icons/comedy.png",
                        "dance": "/icons/dance.png",
                        "festival": "/icons/festival.png",
                        "market": "/icons/market.png",
                        "music": "/icons/music.png",
                        "theatre": "/icons/theatre.png"
                      }
          
     
          <% @events.each_with_index do |event,index| %>
 
              var position = new google.maps.LatLng(markers[<%= index %>][1], markers[<%= index %>][2]);
              bounds.extend(position);
              marker = new google.maps.Marker({
                  position: position,
                  map: map,
                  title: markers[<%= index %>][0],
                  icon: icons["<%= event.types[0].name %>"], 
                  animation: google.maps.Animation.DROP
              });
             
              marker.metadata = {
                  type: "point",
                  id: <%= index %>
              };
              markerList.push(marker);

              google.maps.event.addListener(marker, 'click', (function(marker, i) {
                  return function() {
                      infoWindow.setContent(infoWindowContent[i][0]);
                      infoWindow.open(map, marker);
                  };
              })(marker, <%= index %>));

              map.fitBounds(bounds);
              $('.stores ul').append('<li><a href=' + '"' + markers[<%= index %>][3] + '"' + 'target="_blank"' + 'data-id="' + <%= index %> + '"' + '>' + markers[<%= index %>][0] + '</a></li>');
  
    <% end %>
          var foundMarkerId;

          $('.stores a').hover(function(e) {
              var targetLi = e.target.getAttribute('data-id');
              for (i = 0; i < markerList.length; i++) {
                  foundMarkerId = markerList[i].metadata.id;
                  if (foundMarkerId == targetLi) {
                      markerList[i].setAnimation(google.maps.Animation.BOUNCE);
                  }
              }
          }, function() {
              for (i = 0; i < markerList.length; i++) {
                  markerList[i].setAnimation(null);
              }
          });

<% end %>


          var boundsListener = google.maps.event.addListener((map), 'bounds_changed', function(event) {
              this.setZoom(12);
              google.maps.event.removeListener(boundsListener);
          });

          google.maps.event.addDomListener(map, "idle", function() {
              center = map.getCenter();
          });

          $(window).resize(function() {
              map.setCenter(center);
          });
      }


  $(function() {
    $( "#date_picker" ).datepicker({
      dateFormat: 'dd/mm/yy'
    });
  });


    </script>
