<style type="text/css">
  #map_canvas {
    width:100%;
    min-height:100vh;
  }
</style>

  <script>
    function showlocation() {
       navigator.geolocation.getCurrentPosition(callback);
    }
    function callback(position) {
       lat = position.coords.latitude
       lng = position.coords.longitude
       map.setCenter(new google.maps.LatLng(lat, lng));
       map.setZoom(14);

       var user_marker = new google.maps.Marker({
                position: new google.maps.LatLng(lat, lng),
                map: map,
                title: "YOUR LOCATION",
                animation: google.maps.Animation.DROP,
                icon: "/icons/user.png",
                zIndex: 1000
            });
            user_marker.metadata = {
                type: "point",
                id: i
            };
            markerList.push(user_marker);
    }
    var map
  </script>

<div id='map_canvas' class='col-sm-8'></div>

      <script src="javascript/infobubble.js"></script> 



    <script type="text/javascript">

      $(function($) {
          var script = document.createElement('script');
          script.src = "http://maps.googleapis.com/maps/api/js?sensor=false&callback=initialize";
          document.body.appendChild(script);
      });


      function initialize() {
          var bounds = new google.maps.LatLngBounds();
          var mapOptions = {
            center: new google.maps.LatLng(49.2805,-123.1085761),
            disableDefaultUI: true
          };


          map = new google.maps.Map(document.getElementById("map_canvas"), mapOptions);
          map.setTilt(45);
          bounds.extend(new google.maps.LatLng(49.2805,-123.1085761));
          map.fitBounds(bounds);

 <% if @events %>

          var markers = [
            <% @events.each do |event| %>
              ["<%= event.name %>", <%= event.venue.latitude %> , <%= event.venue.longitude %> , "<%= event.link_url %>"], 
            <% end %>


          ];

          var infoBubbleContent = [

            <% @events.each do |event| %>
              [
                "<div class='map-info'><a href='/events/<%= event.id %>'><strong><%= event.name %></strong></a><span class='time'> <%= event.time.strftime('%I:%M %p') %></span></div>"
              ],
            <% end %>

          ];

          var infoBubble = new InfoBubble({
                  maxWidth: 300,
                  backgroundColor: 'rgba(255, 225, 0, 0.8)',
                  zIndex:667,
                  borderRadius: 10,
                  arrowSize: 0,
                  padding:20,
                  borderWidth: 0,
                  borderColor: '#ddd',
                  disableAutoPan: true,
                  ShadowStyle: 0,
                  backgroundClassName : 'info-bubble',
              }),
              marker, i;
          var markerList = [];

          // javascript object called icons
       
          icons = { 
                        "art": "/icons/art.png",
                        "comedy": "/icons/comedy.png",
                        "dance": "/icons/dance.png",
                        "festival": "/icons/festival.png",
                        "market": "/icons/market.png",
                        "music": "/icons/music.png",
                        "theatre": "/icons/theatre.png"  
                      }
          
     
        <% @events.each_with_index do |event,index| %>
 
              var position = new google.maps.LatLng(markers[<%= index %>][1], markers[<%= index %>][2]);
              bounds.extend(position);
              marker = new google.maps.Marker({
                  position: position,
                  map: map,
                  url: "/events/<%= event.id %>",
                  title: markers[<%= index %>][0],
                  icon: icons["<%= event.types[0].name %>"], 
                  animation: google.maps.Animation.DROP
              });

              
             
              // marker.metadata = {
              //     type: "point",
              //     id: <%= index %>
              // };
              

    google.maps.event.addListener(marker, 'click', function() {
      window.location.href = this.url;  //changed from markers[i] to this[i]
    });
      



              google.maps.event.addListener(marker, 'mouseover', (function(marker, i) {
                  return function() {
                      infoBubble.setContent(infoBubbleContent[i][0]);
                      infoBubble.open(map, marker);
                  };
              })(marker, <%= index %>));

              google.maps.event.addListener(marker, 'mouseout', (function(marker, i) {
                  return function() {
                      infoBubble.setContent(infoBubbleContent[i][0]);
                      infoBubble.close(map, marker);
                  };
              })(marker, <%= index %>));

              map.fitBounds(bounds);
              // $('.stores ul').append('<li><a href=' + '"' + markers[<%= index %>][3] + '"' + 'target="_blank"' + 'data-id="' + <%= index %> + '"' + '>' + markers[<%= index %>][0] + '</a></li>');
  
      <% end %>
          var foundMarkerId;

          $('.stores a').hover(function(e) {
              var targetLi = e.target.getAttribute('data-id');
              for (i = 0; i < markerList.length; i++) {
                  foundMarkerId = markerList[i].metadata.id;
                  if (foundMarkerId == targetLi) {
                      markerList[i].setAnimation(google.maps.Animation.BOUNCE);
                  }
              }
          }, function() {
              for (i = 0; i < markerList.length; i++) {
                  markerList[i].setAnimation(null);
              }
          });

<% end %>


          var boundsListener = google.maps.event.addListener((map), 'bounds_changed', function(event) {
              this.setZoom(12);
              google.maps.event.removeListener(boundsListener);
          });

          google.maps.event.addDomListener(map, "idle", function() {
              center = map.getCenter();
          });

          $(window).resize(function() {
              map.setCenter(center);
          });



      }


  // $(function() {
  //   $( "#date_picker" ).datepicker({
  //     dateFormat: 'dd/mm/yy'
  //   });
  // });

  // $('#date_picker').click(function(){
  //   console.log("OK")
  //   $('#date_option').prop('checked', true);
  // })

  // $('#type_picker').click(function(){
  //   console.log('yup')
  //   $('#type_option').prop('checked', true);
  // })
</script>


<% if @results == "none" %>
<%= "No events on selected day" %>
<% end %>



<% unless current_user.nil?  %>
<% end %>

<% unless current_planner.nil? %>
<% end %>

